// app global css in SCSS form
.done{
  td{
    color: #fff;
  }
  .td-icon{
    color:#fff
  }
}
.todo-list-item{

  .q-item{
    margin:6px;


  }
.q-item__label, div{
   letter-spacing: 1.3px;
}

}
